@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-VariableFont_opsz\,wght.ttf);
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-family: "Inter";
  background-color: var(--bg-section);
  /* background-color: #364152; */
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --main-color: #7f22fe;
  --text-color: #6b7281;
  --bg-section: #f8fafc;
  --border-color: #f1f2f4;
  --radius: 10px;
  --transition: all 0.3s;
}

::-moz-selection {
  background-color: #7f22fe;
  color: #fff;
}

::selection {
  background-color: #7f22fe;
  color: #fff;
}

/* Start NavBar */
#navbar {
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid var(--border-color);
}

#navbar {
  z-index: 1030 !important;
}

#navbar .logo {
  background-image: linear-gradient(to top, #6134f9, #712cfc);
  width: 40px;
  height: 40px;
  font-size: 16px;
  border-radius: var(--radius);
}

#navbar h1 {
  font-size: 20px;
  font-weight: 700;
}

#navbar h1 span {
  color: var(--main-color);
}

#navbar p {
  font-size: 12px;
  font-weight: 600;
  color: var(--text-color);
}

#navbar .icon-style {
  width: 40px;
  height: 40px;
  color: var(--text-color);
  font-size: 16px;
  border-radius: var(--radius);
  transition: var(--transition) ease-in-out;
}

#navbar .icon-style:hover {
  background-color: #f3f4f6;
  color: #364152;
}

#navbar .img {
  width: 40px;
  height: 40px;
}

#navbar .img img {
  border-radius: var(--radius);
}

#navbar #addBtn {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 16px;
  background-image: linear-gradient(to left, #5339f6, #742af4);
  border-radius: var(--radius);
  transition: var(--transition) ease-in-out;
}

#navbar #addBtn:hover {
  box-shadow: 0 6px 20px rgba(139, 92, 246, 0.6);
  transform: translateY(-4px);
}

#navbar .modal-content {
  border-radius: var(--radius);
  border: 0;
}
#navbar .modal-header h2 {
  font-size: 20px;
  font-weight: 700;
}
#navbar .modal-header button {
  font-size: 12px;
  width: 36px;
  height: 36px;
  padding: 0;
  border-radius: var(--radius);
  color: var(--text-color);
}
#navbar .modal-header button:hover {
  background-color: #f3f4f6;
  color: #4a5565;
}

/*Start Form */
form .img-form {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(135deg, #60a5fa, #2563eb);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 35px;
}

form .photo-btn {
  padding: 10px 18px;
  background-color: #f3f4f6;
  border-radius: var(--radius);
  font-size: 14px;
  font-weight: 500;
  transition: var(--transition) ease-in-out;
}

form .photo-btn:hover {
  background-color: #e5e7eb;
}

form .input-style {
  padding: 12px 16px;
  border-radius: var(--radius);
  border: 1px solid #d1d5db;
  background-color: #f9fafb;
  transition: 0.3s;
  font-size: 14px;
}

form .input-style:focus {
  border-color: #7c3aed;
  box-shadow: 0 0 0 4px rgba(124, 58, 237, 0.15);
  background-color: white;
}

.form-check-input {
  border-color: var(--text-color);
  background-color: #fff;
}

.form-check-input:checked {
  border-color: var(--text-color);
  box-shadow: none;
  background-color: #2e758f;
  color: #fff;
}

.form-check-input:checked:hover {
  background-color: #1f5a6f;
}
.form-check-input:focus {
  border-color: var(--text-color);
  box-shadow: none;
}

form .save-btn {
  background: linear-gradient(135deg, #7c3aed, #4f46e5);

  color: white;
  border: none;
  transition: 0.3s;
}

form .save-btn:hover {
  box-shadow: 0 6px 20px rgba(139, 92, 246, 0.6);
  color: white;
}

form .btns {
  border-radius: var(--radius);
  padding: 12px 20px;
}
/*End Form */

/* End NavBar */

/* Start Home Seaction */
#home {
  padding-block: 130px;
}

#home .cards-style {
  background-color: #fff;
  border: 2px solid var(--border-color);
  border-radius: var(--radius);
  padding: 20px;
  transition: var(--transition);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.09);
}

#home .cards-style:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
}

#home .cards-style .logo {
  background-color: red;
  width: 44px;
  height: 44px;
  font-size: 16px;
  border-radius: var(--radius);
}

#home .cards-style p {
  font-size: 11px;
  color: var(--text-color);
  font-weight: 600;
}
#home .cards-style span {
  font-size: 20px;
  font-weight: 700;
}

#home .cards-number .total .logo {
  background-image: linear-gradient(to top left, #3263f5, #3d73f9);
  box-shadow: 0 6px 18px rgba(50, 99, 245, 0.25);
}

#home .cards-number .favorites .logo {
  background-image: linear-gradient(to top left, #f27e15, #f4b11c);
  box-shadow: 0 6px 18px rgba(242, 126, 21, 0.25);
}

#home .cards-number .emrgency .logo {
  background-image: linear-gradient(to top left, #d7282d, #e73a52);
  box-shadow: 0 6px 18px rgba(215, 40, 45, 0.25);
}

#home .left-section h2 {
  font-weight: 700;
  font-size: 24px;
}

#home .left-section p {
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
  margin-top: 4px;
}

/* search */

#home #contactSearch {
  padding: 12px 16px;
  border: 1px solid var(--border-color);
  background-color: white;
  transition: var(--transition);
  font-size: 14px;
  border-left: 0;
}

.input-group-text {
  background-color: #fff;
  color: var(--text-color) !important;
  border: 1px solid var(--border-color);
  border-right: 0;
  border-radius: var(--radius) 0 0 var(--radius);
  color: var(--text-color);
}
#home .search-box {
  transition: var(--transition);
}
#home .search-box:focus-within .input-group-text {
  border-color: #7c3aed !important;
  box-shadow: 0 0 0 4px rgba(124, 58, 237, 0.15) !important;
}

#home #contactSearch:focus {
  border-color: #7c3aed;
  box-shadow: 8.8px 0 0 4px rgba(124, 58, 237, 0.15);
  background-color: white;
}
/* End search */

#home #rowCardContact .contact-card-header {
  /* padding: 20px; */
  border-radius: var(--radius);
  border: 2px solid var(--border-color);
  background-color: #fff;
  transition: var(--transition) ease-in-out;
}

#home #rowCardContact .contact-card-header:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
}

#home #rowCardContact .contact-card-header .logo {
  font-size: 18px;
  font-weight: 700;
  width: 54px;
  height: 54px;
  background-image: linear-gradient(to top left, #f27e15, #f4b11c);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: var(--radius);
  position: relative;
}

img {
  width: 54px;
  height: 54px;
  /* position: relative; */
}

.logo {
  position: relative;
}

.icon-fav-img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f5bc1e;
  color: #fff;
  border: 2px solid #fff;
  font-size: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -5px;
  right: -5px;
}

.icon-emer-img {
  bottom: -5px;
  right: -5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #fff;
  border: 2px solid #fff;
  font-size: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #ed0025;
}

#home #rowCardContact .contact-card-header .logo img {
  border-radius: var(--radius);
}

#home #rowCardContact .contact-card-header .content h3 {
  font-size: 16px;
  font-weight: 600;
}

#home #rowCardContact .contact-card-header .content p {
  font-weight: 400;
  font-size: 14px;
  color: var(--text-color);
  margin-top: 10px;
}

#home #rowCardContact .contact-card-header .content p span {
  color: #2c5cf2;
  background-color: #dee9fc;
  border-radius: var(--radius);
  padding: 8px;
  font-size: 10px;
}

#home #rowCardContact .contact-card-body .email {
  color: var(--text-color);
  font-size: 14px;
}

#home #rowCardContact .contact-card-body .email .logo-email {
  width: 28px;
  height: 28px;
  color: var(--main-color);
  background-color: #ece9fc;
  border-radius: var(--radius);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

#home #rowCardContact .contact-card-body .address {
  color: var(--text-color);
  font-size: 14px;
}

#home #rowCardContact .contact-card-body .address .logo-address {
  width: 28px;
  height: 28px;
  color: #35966a;
  background-color: #d8f9e6;
  border-radius: var(--radius);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

#home #rowCardContact .contact-card-body .select-option span {
  font-size: 11px;
  font-weight: 600;
  border-radius: 5px;
}

#home #rowCardContact .contact-card-body .select-option .friends {
  color: #35966a;
  background-color: #d8f9e6;
}
#home #rowCardContact .contact-card-body .select-option .family {
  color: #2c5cf2;
  background-color: #dee9fc;
}
#home #rowCardContact .contact-card-body .select-option .work {
  color: var(--main-color);
  background-color: #ece9fc;
}
#home #rowCardContact .contact-card-body .select-option .school {
  color: #ad540d;
  background-color: #fcf3cb;
}
#home #rowCardContact .contact-card-body .select-option .other {
  color: #384151;
  background-color: #f3f4f6;
}
#home #rowCardContact .contact-card-body .select-option .Emergency {
  color: #d81a45;
  background-color: #fcf1f2;
}

#home #rowCardContact .contact-footer .logo-email {
  color: #7529f4;
  background-color: #ece9fc;
  width: 36px;
  height: 36px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home #rowCardContact .contact-footer .logo-phone {
  color: #35966a;
  background-color: #d8f9e6;
  width: 36px;
  height: 36px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home #rowCardContact .contact-footer {
  border-top: 1px solid var(--border-color);
  background-color: #fafbfc;
}

#home #rowCardContact .contact-footer .add-favorit {
  width: 36px;
  height: 36px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  transition: var(--transition) ease-in-out;
}

#home #rowCardContact .contact-footer .add-favorit:hover {
  color: #f5bc1e;
  background-color: #fefbec;
}

#home #rowCardContact .contact-footer .favv {
  color: #f5bc1e;
  background-color: #fefbec;
  width: 36px;
  height: 36px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home #rowCardContact .contact-footer .add-Emergency {
  width: 36px;
  height: 36px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  transition: var(--transition) ease-in-out;
}

#home #rowCardContact .contact-footer .Emergancyyy {
  width: 36px;
  height: 36px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d81a45;
  background-color: #fcf1f2;
  transition: var(--transition) ease-in-out;
}

#home #rowCardContact .contact-footer .add-Emergency:hover {
  color: #d81a45;
  background-color: #fcf1f2;
}

#home #rowCardContact .contact-footer .add-edit {
  width: 36px;
  height: 36px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  transition: var(--transition) ease-in-out;
}
#home #rowCardContact .contact-footer .add-edit:hover {
  color: #2c5cf2;
  background-color: #dee9fc;
}

#home #rowCardContact .contact-footer .add-delete {
  width: 36px;
  height: 36px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  transition: var(--transition) ease-in-out;
}

#home #rowCardContact .contact-footer .add-delete:hover {
  color: #d81a45;
  background-color: #fcf1f2;
}

/*  */
#home .right-content .favorites {
  border-radius: var(--radius);
}
#home .right-content .favorites .card-header {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}
#home .right-content .favorites .card-header .icon-box {
  width: 44px;
  height: 44px;
  font-size: 16px;
  border-radius: var(--radius);
  background-image: linear-gradient(to top left, #f27e15, #f4b11c);
  box-shadow: 0 6px 18px rgba(242, 126, 21, 0.25);
}

#home .right-content .favorites .card-header {
  background-color: #fff8ec;
}

#home .right-content .favorites .card-title h3 {
  font-size: 16px;
}

#home .right-content .favorites .card-title p {
  font-size: 10px;
  color: var(--text-color);
}

#home .right-content .Emergency {
  border-radius: var(--radius);
}
#home .right-content .Emergency .card-header {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}
#home .right-content .Emergency .card-header .icon-box {
  width: 44px;
  height: 44px;
  font-size: 16px;
  border-radius: var(--radius);
  background-image: linear-gradient(to top left, #d7282d, #e73a52);
  box-shadow: 0 6px 18px rgba(215, 40, 45, 0.25);
}

#home .right-content .Emergency .card-header {
  background-color: #fef2f2;
}

#home .right-content .Emergency .card-title h3 {
  font-size: 16px;
}

#home .right-content .Emergency .card-title p {
  font-size: 10px;
  color: var(--text-color);
}

#home .right-content .card-body {
  max-height: 300px;
  overflow: auto;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#home .right-content {
  position: sticky;
  top: 90px;
}

.row {
  align-items: flex-start;
}

/* End Home Seaction */

.no-found {
  color: var(--main-color) !important;
}

/* Start favorite */

#rowFavorite .cont {
  background-color: #f9fafb;
  border-radius: var(--radius);
  padding: 10px;
  transition: var(--transition);
}

#rowFavorite .cont:hover {
  background-color: #fffbea;
}

#rowFavorite .cont:hover a {
  color: #fff;
  background-color: #00bc7d;
}

#rowFavorite .logo,
#rowEmergency .logo {
  font-size: 18px;
  font-weight: 700;
  width: 40px;
  height: 40px;
  background-image: linear-gradient(to top left, #f27e15, #f4b11c);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: var(--radius);
}

#rowFavorite .logo img,
#rowEmergency .logo img {
  border-radius: var(--radius);
}

#rowFavorite .content h3,
#rowEmergency .content h3 {
  font-size: 11px;
  font-weight: 600;
}

#rowFavorite .content p,
#rowEmergency .content p {
  font-weight: 400;
  font-size: 10px;
  color: var(--text-color);
  margin-top: 0px;
}

#rowFavorite a,
#rowEmergency a {
  width: 24px;
  height: 24px;
  background-color: #d8f9e6;
  color: #009966;
  border-radius: var(--radius);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
}

#rowEmergency .cont {
  background-color: #f9fafb;
  border-radius: var(--radius);
  padding: 10px;
  transition: var(--transition);
}

#rowEmergency .cont:hover {
  background-color: #fef1f2;
}

#rowEmergency .cont:hover a {
  color: #fff;
  background-color: #ff1f57;
}

#rowEmergency a {
  background-color: #fae5e6;
  color: #d81a45;
}

/* End favorite */
